Llenguatje de Marques/XML/AC1/biblioteca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="llibre" minOccurs="2" maxOccurs="2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titol">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="El Quixot de la Manxa"/>
                    <xs:enumeration value="La plaça del Diamant"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="autor">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Miguel de Cervantes"/>
                    <xs:enumeration value="Mercè Rodoreda"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="any">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="1605"/>
                    <xs:enumeration value="1962"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:ID">
                  <xs:enumeration value="llib001"/>
                  <xs:enumeration value="llib002"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
