Llenguatje de Marques/XML/AC1/empresa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="empresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nom_empresa">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="TechCorp Barcelona"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="departaments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="departament" minOccurs="2" maxOccurs="2">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom_dept">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Informàtica"/>
                          <xs:enumeration value="Recursos Humans"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="cap">
                      <xs:complexType>
                        <xs:attribute name="ref" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:IDREF">
                              <xs:enumeration value="emp001"/>
                              <xs:enumeration value="emp003"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="codi" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="IT"/>
                        <xs:enumeration value="HR"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="empleats">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="empleat" minOccurs="3" maxOccurs="3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nom">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Joan Garcia"/>
                          <xs:enumeration value="Maria López"/>
                          <xs:enumeration value="Pere Martí"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="email">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="joan@techcorp.cat"/>
                          <xs:enumeration value="maria@techcorp.cat"/>
                          <xs:enumeration value="pere@techcorp.cat"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="salari">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:enumeration value="3500"/>
                          <xs:enumeration value="2800"/>
                          <xs:enumeration value="4200"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="departament">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="IT"/>
                          <xs:enumeration value="HR"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:ID">
                        <xs:enumeration value="emp001"/>
                        <xs:enumeration value="emp002"/>
                        <xs:enumeration value="emp003"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
