Llenguatje de Marques/AC2.1/agenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="agenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contacte" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nom" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="edat" type="edatrang"/>
              <xs:element name="telefon" minOccurs="1" maxOccurs="3">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:integer">
                      <xs:attribute name="tipus" type="telefonrang" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="destacat" type="xs:boolean" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="edatrang">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="120"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="telefonrang">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mòbil"/>
      <xs:enumeration value="feina"/>
      <xs:enumeration value="fix"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
