Llenguatje de Marques/AC2.1/cataleg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cataleg">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="llibre" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                                            <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:sequence>

                        </xs:sequence>
                    </xs:complexType>    
            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>