Llenguatje de Marques/AC2.1/cataleg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cataleg">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="llibre" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titol" type="xs:string"/>
                            <xs:element name="autor" type="xs:string"/>
                            <xs:element name="any" type="xs:integer"/>
                            <xs:element name="editorial" type="xs:string"/>
                            <xs:element name="preu" type="xs:dateTime"/>
                            <xs:element name="categories" minOccurs="0" maxOccurs="1">
                                xs

                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>    
            </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>