Llenguatje de Marques/AC2.1/comandes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="comanda">
        <xs:complexType>
            <xs:sequence>

            </xs:sequence>
            <xs:attribute name="num" type="xs:string"></xs:attribute>
            <xs:attribute name="data" type=></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>