Llenguatje de Marques/AC2.1/comandes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="comanda">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="client"></xs:element>
                <xs:element name="productes"></xs:element>
                <xs:element name="pagament"></xs:element>
                <xs:element name="total"></xs:element>
            </xs:sequence>
            <xs:attribute name="num" type="xs:string"></xs:attribute>
            <xs:attribute name="data" type="xs:date"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>