Llenguatje de Marques/AC2.1/llibres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="agenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contacte" minOccurs="1" maxOccurs="unbounded">
         <xs:complexType>
          <xs:sequence>
            <xs:element name="nom" type="xs:string"></xs:element>
            <xs:element name="edat" type="xs:integer"></xs:element>
          </xs:sequence>
          <xs:attribute name="id" type="xs:ID" ></xs:attribute>
          <xs:attribute name="destacat" type="xs:boolean"></xs:attribute>
         </xs:complexType> 
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="edatrang" >

  </xs:simpleType>
</xs:schema>