Llenguatje de Marques/AC2.1/revista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="revista">
        <xs:complexType>
            <xs:sequence>
                <xs:element></xs:element>
                <xs:element name="titol"></xs:element>
                <xs:element name="autor">
                    <xs:complexType>
                        <xs:attribute name="email"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="any" type="AnyRang"></xs:attribute>
        </xs:complexType>
    </xs:element>








    <xs:simpleType name="AnyRang">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"></xs:minInclusive>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>