Llenguatje de Marques/AC2.1/revista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="revista">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="article" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titol"></xs:element>
                            <xs:element name="autor">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="email" type="xs:string"></xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dataPublicacio"></xs:element>
                            <xs:element name="cos"></xs:element>
                            <xs:element name="valoracio"></xs:element>
                            <xs:element name="etiquetes" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="etiqueta" minOccurs="1" maxOccurs="unbounded"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID"></xs:attribute>
                        <xs:attribute name="publicat" type="xs:boolean"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="any" type="AnyRang"></xs:attribute>
        </xs:complexType>
    </xs:element>


    <xs:simpleType name="AnyRang">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"></xs:minInclusive>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>