Llenguatje de Marques/AC2.1/revista.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="revista">
        <xs:complexType>
            <xs:sequence>

            </xs:sequence>
            <xs:attribute name="any" type="AnyRang"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="hola">
        <xs:restriction></xs:restriction>
    </xs:simpleType>

</xs:schema>