Llenguatje de Marques/Examen1/1.dtd

<!ELEMENT gimnas (classe+)>
<!ELEMENT classe (nomClasse, monitor, horari, duracio, capacitat, preu, dia, especialitats?, inscrits?)>
<!ATTLIST classe codi ID #REQUIRED>
<!ATTLIST classe activa (false|true) #REQUIRED>
<!ELEMENT nomClasse (#PCDATA)>
<!ELEMENT monitor (#PCDATA)>
<!ELEMENT horari (#PCDATA)>
<!ELEMENT duracio (#PCDATA)>
<!ELEMENT capacitat (#PCDATA)>
<!ELEMENT preu (#PCDATA)>
<!ATTLIST preu periode (sessió|menusal|trimestral) #REQUIRED>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT especialitats (especialitat+)>
<!ELEMENT especialitat (#PCDATA)>
<!ELEMENT inscrits (inscrit*)>
<!ELEMENT inscrit (nomSoci, dataInscripcio)>
<!ATTLIST inscrit soci ID #REQUIRED>
<!ELEMENT nomSoci (#PCDATA)>
<!ELEMENT dataInscripcio (#PCDATA)>
