Llenguatje de Marques/Examen1/1.dtd

<!ELEMENT gimnas (classe+)>
<!ELEMENT classe (nomClasse, monitor, horari, duracio, capacitat, preu, dia, especialitats?, inscrits?)>
<!ATTLIST classe codi ID #REQUIRED>
<!ATTLIST classe activa (false|true) #REQUIRED>
<!ELEMENT nomClasse (#PCDATA)>
<!ELEMENT monitor (#PCDATA)>
<!ELEMENT duracio (#PCDATA)>
<!ELEMENT capacitat (#PCDATA)>
<!ELEMENT preu (#PCDATA)>
<!ATTLIST preu periode (sessió|menusal|trimestral) #REQUIRED>
<!ELEMENT dia (Dilluns|Dimarts|Dimecres)>
<!ELEMENT especialitats (especialitat+)>
<!ELEMENT especialitat (#PCDATA)>
<!ELEMENT inscrits (insc)>
<!ELEMENT inscrit (#PCDATA)>
