Llenguatje de Marques/Examen1/1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gimnas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="classe" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nomClasse" type="xs:string"></xs:element>
                            <xs:element name="monitor" type="xs:string"></xs:element>
                            <xs:element name="horari" type="xs:string"></xs:element>
                            <xs:element name="duracio" type="rangDuracio"></xs:element>
                            <xs:element></xs:element>
                        </xs:sequence>
                        <xs:attribute name="codi" type="xs:ID"></xs:attribute>
                        <xs:attribute name="activa" type="xs:boolean"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nom" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>



    <xs:simpleType name="rangDuracio">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="30"></xs:minInclusive>
            <xs:maxInclusive value="120"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="capacitatRang">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="30"></xs:minInclusive>
            <xs:maxInclusive value="120"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>