Llenguatje de Marques/Examen1/1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gimnas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="classe" minOccurs="1" maxOccurs="unbounded">
                    xs
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nom" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>