Llenguatje de Marques/Examen1/1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gimnas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="classe" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nomClasse" type="xs:string"></xs:element>
                            <xs:element name="monitor" type="xs:string"></xs:element>
                            <xs:element name="horari" type="xs:string"></xs:element>
                            <xs:element name="duracio" type="rangDuracio"></xs:element>
                            <xs:element name="capacitat" type="capacitatRang"></xs:element>
                            <xs:element name="preu">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="preuType">
                                            <xs:attribute name="periode" use="required" type="periodeType"></xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="dia" minOccurs="1" maxOccurs="unbounded" type="diaType"></xs:element>
                            

                        </xs:sequence>
                        <xs:attribute name="codi" type="xs:ID"></xs:attribute>
                        <xs:attribute name="activa" type="xs:boolean"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nom" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>



    <xs:simpleType name="rangDuracio">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="30"></xs:minInclusive>
            <xs:maxInclusive value="120"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="capacitatRang">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="5"></xs:minInclusive>
            <xs:maxInclusive value="50"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="preuType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"></xs:minInclusive>
            <xs:fractionDigits value="2"></xs:fractionDigits>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="periodeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sessió"></xs:enumeration>
            <xs:enumeration value="menusal"></xs:enumeration>
            <xs:enumeration value="trimestral"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="diaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Dilluns"></xs:enumeration>
            <xs:enumeration value="Dimarts"></xs:enumeration>
            <xs:enumeration value="Dimecres"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>