Llenguatje de Marques/Examen1/2.dtd

<!ELEMENT agencia (viatge+)>
<!ATTLIST agencia cif ID #REQUIRED>
<!ELEMENT viatge (desti, pais, transport, allotjament, dataSortida, dataRetorn, preu, places, visitesIncloses?, reserves?)>
<!ATTLIST viatge id ID #REQUIRED>
<!ATTLIST viatge disponible (true|false) #REQUIRED>
<!ELEMENT desti (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT transports (Avió|Tren|Bus)>
<!ELEMENT allotjament (Hotel|Apartament|Hostal)>
<!ELEMENT dataSortida (#PCDATA)>
<!ELEMENT dataRetorn (#PCDATA)>
<!ELEMENT preu (#PCDATA)>
<!ATTLIST preu moneda (EUR|USD|GBP) #REQUIRED>
<!ATTLIST preu iva (inclòs|noinclòs) #REQUIRED>
