Llenguatje de Marques/Examen1/2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="agencia">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viatge" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="desti" type="xs:string"></xs:element>
                            <xs:element name="pais" type="xs:string"></xs:element>
                            <xs:element name="transport" type="transportRang"></xs:element>
                            <xs:element name="allotjament"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
                        <xs:attribute name="disponible" type="xs:boolean" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="cif" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="transportRang">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Avió"></xs:enumeration>
            <xs:enumeration value="Tren"></xs:enumeration>
            <xs:enumeration value="Bus"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="allotjamentRang">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Hotel"></xs:enumeration>
            <xs:enumeration value="Apartament"></xs:enumeration>
            <xs:enumeration value="Hostal"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>