Llenguatje de Marques/Examen1/2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="agencia">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viatge" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="desti" type=""></xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
                        <xs:attribute name="disponible" type="xs:boolean" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="cif" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>