Llenguatje de Marques/AC2/Ex1.dtd

<!DOCTYPE cataleg [
    <!ELEMENT llibre (titol, autor, any, editorial, categories)>

    <!ELEMENT cataleg (llibre+)>
    <!ELEMENT titol (#PCDATA)>
    <!ELEMENT autor (#PCDATA)>
        
    <!ELEMENT any (#PCDATA)>
    <!ELEMENT editorial (#PCDATA)>
    <!ELEMENT categories (categoria+)>
        
        
    <!ELEMENT categoria (#PCDATA)>
        <!ATTLIST categoria tipus CDATA "general">
        <!ATTLIST any edicio CDATA "1a">
        <!ATTLIST autor nacionalitat CDATA "desconeguda">
            
        ]
