Llenguatje de Marques/AC2/Ex1.dtd

<!ELEMENT cataleg (llibre+)>
<!ELEMENT llibre (titol, autor, any, editorial, categories?)>
<!ATTLIST llibre id ID #REQUIRED>
<!ELEMENT titol (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT any (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT categories (categoria+)>
<!ELEMENT categoria (#PCDATA)>