Llenguatje de Marques/AC2/Ex3.dtd

<!ELEMENT comanda (client, productes, pagament)>
<!ATTLIST comanda num CDATA #REQUIRED>
<!ELEMENT client (nom,adreça)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT adreça (#PCDATA)>
<!ELEMENT productes (producte*)>
<!ELEMENT producte (nom,preu)>
<!ATTLIST producte codi ID #REQUIRED>
<!ATTLIST producte quantitat CDATA #REQUIRED>
<!ELEMENT preu (#PCDATA)>
<!ELEMENT pagament (#PCDATA)>